.wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  width: 400px;
  height: 602px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 1px rgb(99 114 130 / 32%), 0 8px 16px rgb(27 39 51 / 8%);
}
